<div class="bg-amber-800 text-white h-full w-64 flex flex-col items-center justify-start gap-4 py-4">
  <h1 class="text-2xl font-bold text-center">Fighter Stats For You</h1>
  <nav class="flex flex-col items-center gap-2 w-full">
    <a routerLink="/home" routerLinkActive="active"
      class="px-4 py-2 rounded hover:bg-amber-700 transition w-full text-center cursor-pointer">Home</a>
    <a routerLink="/find-fighter" routerLinkActive="active"
      class="px-4 py-2 rounded hover:bg-amber-700 transition w-full text-center cursor-pointer">Find Fighter</a>
    <a routerLink="/compare-fighters" routerLinkActive="active"
      class="px-4 py-2 rounded hover:bg-amber-700 transition w-full text-center cursor-pointer">Compare Fighters</a>
  </nav>
</div>